:root {
    --main-bg: #fff;
    --main-bg-rgba:rgba(255,255,255, 0.1);
    --main-bg-hover: #eee;
    --main-bg-dark: #000;
    --main-bg-dark-rgba:rgba(0, 0, 0, 0.1);
    --primary-color:#666;
    --primary-color-light:#999;
    --secondary-color:#f6f6f6;
    --bg-light:#f5f6f7;
    --table-shade:#fcfdfe;
}
.skin-white .main-header .navbar {
    background-color: var(--main-bg);
    box-shadow: 0 0 2px 2px #66666616;
}

.skin-white .main-header .navbar .nav > li > a {
    color: var(--primary-color-light);
}

.skin-white .main-header .navbar .nav > li > a:hover, .skin-white .main-header .navbar .nav > li > a:active, .skin-white .main-header .navbar .nav > li > a:focus, .skin-white .main-header .navbar .nav .open > a, .skin-white .main-header .navbar .nav .open > a:hover, .skin-white .main-header .navbar .nav .open > a:focus, .skin-white .main-header .navbar .nav > .active > a {
    background: var(--main-bg-dark-rgba);
    color: var(--secondary-color)
}

.skin-white .main-header .navbar .sidebar-toggle {
    color: var(--primary-color)
}

.skin-white .main-header .navbar .sidebar-toggle:hover {
    color: var(--primary-color);
    background: var(--main-bg-hover)
}

.skin-white .main-header .navbar .sidebar-toggle {
    color: var(--primary-color)
}.skin-white .sidebar-menu > li:hover > a, .skin-white .sidebar-menu > li.active > a

.skin-white .main-header .navbar .sidebar-toggle:hover {
    background-color: var(--main-bg-hover)
}

.sidebar-menu>li:hover>a>.fa, .sidebar-menu>li:hover>a>.glyphicon, .sidebar-menu>li:hover>a>.ion{
    color:#00c0ef
}

@media (max-width: 767px) {
    .skin-white .main-header .navbar .dropdown-menu li.divider {
        background-color: var(--main-bg-rgba)
    }

    .skin-white .main-header .navbar .dropdown-menu li a {
        color: var(--primary-color)
    }

    .skin-white .main-header .navbar .dropdown-menu li a:hover {
        background: #555299
    }
}

.skin-white .main-header .logo {
    background-color: var(--main-bg);
    color: var(--primary-color);
    border-bottom: 0 solid transparent
}

.skin-white .main-header .logo:hover {
    background-color: var(--main-bg-hover)
}

.skin-white .main-header li.user-header {
    background-color: #605ca8
}

.skin-white .content-header {
    background: transparent
}

.skin-white .wrapper, .skin-white .main-sidebar, .skin-white .left-side {
    background-color: #222d32
}

.skin-white .user-panel > .info, .skin-white .user-panel > .info > a {
    color: var(--primary-color)
}

.skin-white .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226
}

.skin-white .sidebar-menu > li > a {
    border-left: 3px solid transparent
}

.skin-white .sidebar-menu > li:hover > a, .skin-white .sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #00c0ef;
}

.skin-white .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.skin-white .sidebar a {
    color: #b8c7ce
}

.skin-white .sidebar a:hover {
    text-decoration: none
}

.skin-white .treeview-menu > li > a {
    color: #8aa4af
}

.skin-white .treeview-menu > li.active > a, .skin-white .treeview-menu > li > a:hover {
    color: #fff
}

.skin-white .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px
}

.skin-white .sidebar-form input[type="text"], .skin-white .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px
}

.skin-white .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.skin-white .sidebar-form input[type="text"]:focus, .skin-white .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-white .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff
}

.skin-white .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

.skin-white-light .main-header .navbar {
    background-color: var(--main-bg)
}

.skin-white-light .main-header .navbar .nav > li > a {
    color: var(--primary-color)
}

.skin-white-light .main-header .navbar .nav > li > a:hover, .skin-white-light .main-header .navbar .nav > li > a:active, .skin-white-light .main-header .navbar .nav > li > a:focus, .skin-white-light .main-header .navbar .nav .open > a, .skin-white-light .main-header .navbar .nav .open > a:hover, .skin-white-light .main-header .navbar .nav .open > a:focus, .skin-white-light .main-header .navbar .nav > .active > a {
    background: var(--main-bg-rgba);
    color: var(--secondary-color)
}

.skin-white-light .main-header .navbar .sidebar-toggle {
    color: var(--primary-color)
}

.skin-white-light .main-header .navbar .sidebar-toggle:hover {
    color: var(--primary-color);
    background: var(--main-bg-dark-rgba)
}

.skin-white-light .main-header .navbar .sidebar-toggle {
    color: var(--primary-color)
}

.skin-white-light .main-header .navbar .sidebar-toggle:hover {
    background-color: var(--main-bg-hover)
}

@media (max-width: 767px) {
    .skin-white-light .main-header .navbar .dropdown-menu li.divider {
        background-color: var(--main-bg-dark-rgba)
    }

    .skin-white-light .main-header .navbar .dropdown-menu li a {
        color: var(--primary-color)
    }

    .skin-white-light .main-header .navbar .dropdown-menu li a:hover {
        background: var(--main-bg-hover)
    }
}

.skin-white-light .main-header .logo {
    background-color: var(--main-bg);
    color: var(--primary-color);
    border-bottom: 0 solid transparent
}

.skin-white-light .main-header .logo:hover {
    background-color: var(--main-bg-hover)
}

.skin-white-light .main-header li.user-header {
    background-color: var(--main-bg)
}

.skin-white-light .content-header {
    background: transparent
}

.skin-white-light .wrapper, .skin-white-light .main-sidebar, .skin-white-light .left-side {
    background-color: #f9fafc
}

.skin-white-light .content-wrapper, .skin-white-light .main-footer {
    border-left: 1px solid #d2d6de
}

.skin-white-light .user-panel > .info, .skin-white-light .user-panel > .info > a {
    color: #444
}

.skin-white-light .sidebar-menu > li {
    -webkit-transition: border-left-color .3s ease;
    -o-transition: border-left-color .3s ease;
    transition: border-left-color .3s ease
}

.skin-white-light .sidebar-menu > li.header {
    color: #848484;
    background: #f9fafc
}

.skin-white-light .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-weight: 600
}

.skin-white-light .sidebar-menu > li:hover > a, .skin-white-light .sidebar-menu > li.active > a {
    color: #000;
    background: #f4f4f5
}

.skin-white-light .sidebar-menu > li.active {
    border-left-color: #605ca8
}

.skin-white-light .sidebar-menu > li.active > a {
    font-weight: 600
}

.skin-white-light .sidebar-menu > li > .treeview-menu {
    background: #f4f4f5
}

.skin-white-light .sidebar a {
    color: #444
}

.skin-white-light .sidebar a:hover {
    text-decoration: none
}

.skin-white-light .treeview-menu > li > a {
    color: #777
}

.skin-white-light .treeview-menu > li.active > a, .skin-white-light .treeview-menu > li > a:hover {
    color: #000
}

.skin-white-light .treeview-menu > li.active > a {
    font-weight: 600
}

.skin-white-light .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px
}

.skin-white-light .sidebar-form input[type="text"], .skin-white-light .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px
}

.skin-white-light .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.skin-white-light .sidebar-form input[type="text"]:focus, .skin-white-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-white-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff
}

.skin-white-light .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

@media (min-width: 768px) {
    .skin-white-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        border-left: 1px solid #d2d6de
    }
}



.content-wrapper, .right-side{
    background: var(--bg-light);
}


/* bg styles */
.bg-white {
    background: var(--main-bg) !important;
    color: var(--primary-color-light);
}

/* box */

.box{
    border-top: 0;
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    border-radius:3px;
    overflow: hidden;
    border:solid 1px #e3e8ed;
}
.box-white .box-header{
    background:#f7f8f9;
}

.info-box{
    box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.info-box-icon{
    background: var(--main-bg-rgba);
}

.info-box-icon{
    font-size:30px !important;
}

.info-box .progress, .info-box .progress .progress-bar{
    height:1px;
}

.info-box .progress .progress-bar{
    opacity: 0.8;
}

/* table */
.table-striped > tbody > tr:nth-of-type(odd){
    background: var(--table-shade);
}


/* FORM */
.file-input-wrapper{
    overflow: hidden;
    position:relative;
    margin-bottom: 5px;
}

.file-input-wrapper input[type='file']{
    opacity:0;
    position:absolute;
    top: 0;
    height:100%;
    left:0;
}

/* select list */
#select-list #fromList option,
#select-list #toList option{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    padding-top:5px;
    padding-bottom:5px;
}