.main-header .sidebar-toggle:before{
    content:''
}

.gallery{
    margin-top:20px;
    margin-bottom: 20px;
}
.gallery-item{
    box-shadow:0 1px 3px 0px #66666630;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow:hidden;
}
.gallery .gallery-item .close{
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 0.6;
}
.gallery-item .media-item > img{
    width: 100%;
}
.gallery-item .caption{
    padding: 10px;
}
.gallery-fixed .media-item{
    height: 200px;
    overflow: hidden;
    display: block;
}

.gallery-fixed .media-item > img{
    width: auto;
}

.inactiveLink{
    pointer-events: none;
    color: #333;
    opacity: 0.5;
}

.is-link{
    cursor: pointer;
}

.modal-dialog.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-dialog.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.stepback{
    margin-top: 2px !important;
    margin-right: 5px;
}