
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

// Variables
@import "variables";

// Bootstrap
@import '../bootstrap/bootstrap.css';

// AdminLTE Theme
@import '../css/AdminLTE.css';
@import '../css/skin.css';
//@import '../css/font-awesome.min.css';

// Override/Custom styles
@import '../css/style.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
